table {
    border-collapse: collapse;
}

.table td,th{
    border: 1px solid;
    padding:10px
}

th{
    padding-top:12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: aliceblue;
    

}